@model IEnumerable<ShareBites.Models.UserLogin>

@{
    ViewData["Title"] = "GetUsers";
}

<br />
<br />
<h4 class="display-6">Get Users</h4>
<br />
<p>
    <a asp-action="Create" class="btn btn-outline-success btn-sm">>Create New</a>
</p>
<table class="table display-10">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Password)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IsVerified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IsVerified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserType.UserType)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.LoginId" class="btn btn-outline-success">>Edit</a>
                    <a asp-action="Details" asp-route-id="@item.LoginId" class="btn btn-outline-info">>Details</a>
                    <a asp-action="Delete" asp-route-id="@item.LoginId" class="btn btn-outline-danger">>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
