@model ShareBites.Models.ResFoodHandler

@{
    ViewData["Title"] = "OrderConfirm";
}

<br/>
<br />

<h4 class="display-6">Order Confirm</h4>
<hr />
<br />
<div class="display-10">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaitingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaitingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodDesc)
        </dd>
      

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Res.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Res.Name)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Res.Region.RegionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Res.Region.RegionName)
        </dd>
    </dl>
</div>
<br />
<div>
    <a asp-action="OrderFood" asp-route-id="@Model?.FoodId" class="btn btn-outline-success">Order Now</a>
    <a class="btn btn-outline-success" asp-area="" asp-controller="Food" asp-action="ViewFood">Back to Food List</a>
</div>
